*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
/*----banner section----*/

.banner{
    background-image: url(image/banner/banner1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 600px;
 padding: 200px ;
}

.title{
    float: right;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 700;
    clear: both;

}


.header-title{
font-weight: 600;
font-size:35px ;
font-family: sans-serif;
}
.right-title{
 text-align: right;
margin-right: 30%;

}

.title-descripton{
font-size: 15px;
text-align: right;
margin-right:30%;
}
.btn{
    padding: 8px;
   margin-left: 55%;
    background-color:orangered;
    color: white;
    border: none;
    text-align: right;
    
}
/*--failur section---*/

.failur{
    display: flex;
 
}
.iamge{
   padding-left: 300px;
   border-radius: 50%;
}
.failur-two{
padding-top: 200px;
padding-left: 300px;
}
.failur-title{
font-weight: 700;
font-size: 45px;
padding-bottom: 20px;

}
.failur-description{
font-weight: 400;
font-size: 18px;
padding-bottom: 25px;

}
.failur-one{
width: 40%;

}
.failur-two{
width: 60%;
}
.failur-lost{
    padding: 10px 0;
  
}
.fa-check{
    color: green;
    padding: 0 5px;
    font-size: 15px;
}

/*--My Plan----*/

.plan-title{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    padding-top: 40px;
    padding-bottom: 70px;
}
.single-plan{
    display: flex;
    align-items: center;
    justify-content:center;
}
.single-item{
    padding: 0 60px;
  
   
}

/*--continer section---*/

.container{
    width: 1000px;
    height: 200px;
    margin: auto;
    padding-top: 40px;
    padding-left: 20px;
    margin-top: 50px;
   background-image: url(image/gradient2.png),url(image/watch.png);
   margin-bottom: 52px;

}
.container-title{
    font-size: 35px;
    font-weight: 600;
    font-family: sans-serif;
}
.container-btn{
    padding: 7px 10px;
    margin: 10px 0;
    background-color:white;
    color:orangered;
    border: 1px solid orangered;
    border-radius: 5px;
   
}

/*---footer section---*/

.footer-content{
    width: 100%;
    height: 400px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 100px ;
}
.footer-title{
    font-weight: 600;
    font-size: 30px;
    font-family: sans-serif;
    padding: 10px 0;
    margin-right: 60px;
}
.footer-description{
      font-size: 18px;
      padding: 10px 0;
      margin-left: 90px;
}

.footer-icon{
    font-size: 50px;
    padding: 20px 10px;
}
.footer-right-title{
font-size: 30px;
font-family: sans-serif;
padding: 10px 0;
margin-right: 45px;
}
.email{
padding: 8px 10px;
background-color: black;
color: white;
border: 1px solid white;
padding-top: 10px;
}
.subscribe-btn{
padding: 8px 14px;
color: orangered;
border-radius: 5px;
padding-top: 10px;
margin: 15px ;
margin-right: 110px;
}